*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
/build
**/build
iosApp/iosApp.xcodeproj
*.xcresult
*.apk
*.aar
*.log
/assets/
.agents/
multiplatform-PLAN.md
AGENTS.md

FAZY3-plan.md
